<navbar>
    <a href="/" >Blocos</a>
    <a href="/apartment" >Apartamentos</a>
    <a href="/residents">Moradores</a>
    <a href="/payment">Pagamentos</a>
    <a href="/maintenance/options">Manutenção</a>
</navbar>