<div class="navbar">
    <div class="logo">CondoEasy</div>
        <div class="nav-links">
    <a href="/statistic" >Visão geral</a>
    <a href="/" >Blocos</a>
    <a href="/apartment" >Apartamentos</a>
    <a href="/residents">Moradores</a>
    <a href="/payment">Pagamentos</a>
    <a href="/maintenance/options">Manutenção</a>
</div>
</div>