<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Novo Bloco</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <h1>Cadastrar Novo Bloco</h1>

    <form action="/create" method="POST">
        <label for="descricao">Descrição do Bloco:</label><br>
        <input type="text" id="descricao" name="descricao" required><br><br>

        <label for="qtdApt">Quantidade de Apartamentos (deve se iniciar em 0):</label><br>
        <input type="number" id="qtdApt" name="qtdApt" required><br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <a href="javascript:history.back()">Voltar</a>
</body>
</html>