<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Condomínio - Menu de Manutenção</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

    <%- include('partials/navbar') %>
  <h1>Condomínio</h1>
  <h2>Escolha uma opção:</h2>

    <a href="/maintenance"><button>Cadastrar uma manutenção</button></a>
    <a href="/maintenance/type"><button>Cadastrar um tipo de manutenção</button></a><br>
    <a onclick="window.history.back()">Voltar</a>
</body>
</html>
